<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Kluster</title>

    <!-- Bootstrap -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kluster</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{#if loginError}}
              <p class="alert alert-danger" id="login-info"> {{loginError}}<span class="close" data-dismiss="alert">&times;</span></p>
            {{/if}}
          <form method="post" action="/login" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Log In</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="row">
        <section class="col-md-7">
          <section class="login_area">
            <h4>Popular Images</h4>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                {{#if indicators}}
                  {{#each indicators}}
                    <li data-target="#carousel-example-generic" data-slide-to="{{this}}"></li>
                  {{/each}}
                {{/if}}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/public/img/kluster.png" alt="...">
                  <div class="carousel-caption">
                    <h3>Welcome to Kluster</h3>
                  </div>
                </div>
                {{#if images}}
                  {{#each images}}
                    <div class="item">
                      <img src="/public/upload/{{filename}}" alt="...">
                      <div class="carousel-caption">
                        <h3>{{title}}</h3>
                      </div>
                    </div>
                  {{/each}}
                {{/if}}
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </section>
        </section>
        <aside class="col-md-5">
          <section class="col-md-12 signup_area">
            <h4>Sign Up</h4>
            {{#if Errors}}
              <ul class="alert alert-danger" id="error-info">
                {{#each Errors}}
                  <li>{{this.msg}}</li>
                {{/each}}
                <span class="close" data-dismiss="alert">&times;</span>
              </ul>
            {{/if}}
            {{#if userExist}}
              <p class="alert alert-danger" id="exist-info"> {{userExist}}<span class="close" data-dismiss="alert">&times;</span></p>
            {{/if}}
            {{#if userSuccess}}
              <p class="alert alert-success" id="success-info"> {{userSuccess}}<span class="close" data-dismiss="alert">&times;</span></p>
            {{/if}}
            <form method="post" action="/signup" role="form">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter Fullname" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" placeholder="Confirm Password" required>
              </div>
              <button type="submit" class="btn btn-default btn-upload">Sign Up</button>
            </form>
          </section>
        </aside>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="col-md-12">
          <p class="text-center">&copy; Copyright Kluster 2019. All Rights Reserved.</p>
          <p>
            <i class="fa fa-facebook-square fa-2x"></i>
            <i class="fa fa-twitter-square fa-2x"></i>
            <i class="fa fa-instagram fa-2x"></i>
          </p>
        </div>
      </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/script.js"></script>
  </body>
</html>